.Input {
  background-color: #53617f;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Verdana';
  font-size: 14px;
  height: 48px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
